@model WebMvcClinica.Models.Especialidade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Especialidade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EspName" class="control-label"></label>
                <input asp-for="EspName" class="form-control" />
                <span asp-validation-for="EspName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspDescription" class="control-label"></label>
                <input asp-for="EspDescription" class="form-control" />
                <span asp-validation-for="EspDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspImage" class="control-label"></label>
                <input asp-for="EspImage" class="form-control" name="file" type="file" onchange="ShowPreview(this)"/>
                <img src="" id="ImagePreview" alt="ImagePreview"* />
                <span asp-validation-for="EspImage" class="text-danger"></span>                
            </div>
            <div class="form-group">
                <label asp-for="EspStatus" class="control-label"></label>
                <input asp-for="EspStatus" class="form-control" />
                <span asp-validation-for="EspStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspAdd" class="control-label"></label>
                <input asp-for="EspAdd" class="form-control" />
                <span asp-validation-for="EspAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspUpdate" class="control-label"></label>
                <input asp-for="EspUpdate" class="form-control" />
                <span asp-validation-for="EspUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspDelete" class="control-label"></label>
                <input asp-for="EspDelete" class="form-control" />
                <span asp-validation-for="EspDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function ShowPreview(input) {
            if (input.files && input.files[0]) {
                var ImagenDir = new FileReader();
                ImagenDir.onload = function (e) {
                    $('#ImagePreview').attr('src', e.target.result);
                    $('#ImagePreview').attr('width', 400);
                    $('#ImagePreview').attr('height', 400);
                }
                ImagenDir.readAsDataURL(input.files[0]);
            }
        }
    </script>
}